name: Share Data between Jobs

on: [push]

jobs:
  job_1:
    name: Add 1 and 3
    runs-on: ubuntu-latest
    steps:
      - shell: bash
        run: |
          expr 1 + 3 > math-operation.txt
      - name: Upload Result
        uses: actions/upload-artifact@v3
        with:
          name: result
          path: math-operation.txt

  job_2:
    name: Multiply by 10
    needs: job_1
    runs-on: ubuntu-latest
    steps:
      - name: Download Result
        uses: actions/download-artifact@v3
        with:
          name: result
      - shell: bash
        run: |
          value=`cat math-operation.txt`
          echo "value = $value"
          result = $((value * 10))
          echo "result = $result"